/***********/
/* CONTENT */
/***********/

#sections{ height: 100%; }

.dboom-section{ /*-webkit-box-shadow: 0 0 2px 2px #000000; box-shadow: 0 0 2px 2px #000000; */}

/************/
/* SECTIONS */
/************/

/* About */

#about { }

/************/
/* PARALLAX */
/************/

.parallax-image-section{
	height: 100%;
}

/* BOOKSHELL PARALLAX BACKGROUND */
.bookshell-parallax-image {
	background: url(/images/secondRowOfBooks.svg);	
	background-repeat: no-repeat;	
	background-size: 100%;	
 }
.bookshell-parallax-gradient {
	height:100%;
	background: -webkit-linear-gradient(0deg, #3D7EAA 10%, #FFE47A 90%); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(0deg, #3D7EAA 10%, #FFE47A 90%); /* FF3.6+ */
	background:     -ms-linear-gradient(0deg, #3D7EAA 10%, #FFE47A 90%); /* IE10 */
	background:      -o-linear-gradient(0deg, #3D7EAA 10%, #FFE47A 90%); /* Opera 11.10+ */
	background:         linear-gradient(0deg, #3D7EAA 10%, #FFE47A 90%); /* W3C */
        
}   
/*********************************/

/* DESK PARALLAX BACKGROUND */
.desk-parallax-image {
	background-image: url(/images/desk.svg); 
	background-repeat: no-repeat;	
	background-size: 100%;	
}
.desk-parallax-gradient {
	height:150%;
	background: -webkit-linear-gradient(0deg, #283048 10%, #859398 90%); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(0deg, #283048 10%, #859398 90%); /* FF3.6+ */
	background:     -ms-linear-gradient(0deg, #283048 10%, #859398 90%); /* IE10 */
	background:      -o-linear-gradient(0deg, #283048 10%, #859398 90%); /* Opera 11.10+ */
	background:         linear-gradient(0deg, #283048 10%, #859398 90%); /* W3C */
        
}
/*********************************/


/* GARAGE PARALLAX BACKGROUND */
.garage-parallax-image {
	background: url(/images/garage.svg);
	background-repeat: no-repeat;	
	background-size: 100%;
}
.garage-parallax-gradient {
	height:200%;
	background: -webkit-linear-gradient(0deg, #134E5E 10%, #71B280 90%); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(0deg, #134E5E 10%, #71B280 90%); /* FF3.6+ */
	background:     -ms-linear-gradient(0deg, #134E5E 10%, #71B280 90%); /* IE10 */
	background:      -o-linear-gradient(0deg, #134E5E 10%, #71B280 90%); /* Opera 11.10+ */
	background:         linear-gradient(0deg, #134E5E 10%, #71B280 90%); /* W3C */
	    	
}
/*********************************/



/*==========  RESPONSIVENESS  ==========*/

/* Small devices (tablets, 767px and down)*/
@media (min-width: 200px) {.dboom-section{ padding-top:35%; }

/* Extra small Devices, (phones, 320 and up) */
@media (min-width: 320px) {.dboom-section{ padding-top:32%; }

/* Extra small Devices, (phones, 480px and up) */
@media (min-width: 500px) {.dboom-section{ padding-top:22%; }

/*////////////////////////////////////*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {.dboom-section{ padding-top:5%;
padding-bottom:5%; }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {.dboom-section{  }

/* Large devices (large desktops, 1280px and up) */
@media (min-width: 1280px) {.dboom-section{  }

/* Large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {.dboom-section{  }

/*////////////////////////////////////*/

/* Extra large devices (extra large desktops, 1600px and up) */
@media (min-width: 1600px) {.dboom-section{ padding-top:10%; }

/* Extra large devices (extra large desktops, 2000px and up) */
@media (min-width: 2000px) {.dboom-section{ padding-top:10%; }

/* Extra large devices (extra large desktops, 2000px and up) */
@media (min-width: 2500px) {.dboom-section{ padding-top:10%; }

/* Extra large devices (extra large desktops, 2000px and up) */
@media (min-width: 3000px) {.dboom-section{ padding-top:10%; }

/* Extra large devices (extra large desktops, 2000px and up) */
@media (min-width: 3500px) { .dboom-section{ padding-top:10%; }
