<div id="sections">
	<about></about>
	<div class="bookshell-parallax-gradient">
		<parallax-image parallax-css="bookshell-parallax-image"></parallax-image>
	</div>
	<loving></loving>
	<div class="desk-parallax-gradient">
		<parallax-image parallax-css="desk-parallax-image"></parallax-image>
	</div>
	<work></work>
	<div class="desk-parallax-gradient">
		<parallax-image parallax-css="desk-parallax-image"></parallax-image>
	</div>
	<contact></contact>
	<div class="garage-parallax-gradient">
		<parallax-image parallax-css="garage-parallax-image"></parallax-image>
	</div>
</div>