<div id="loving" class="dboom-section">
    <div class="container custom-fluid-container">

        <h1 class="text-center">Loving</h1>
        <hr class="star-primary">
        
        <p>My heart is always been at the back-end side. I´ve always been amazed about design patterns and the art of making growing software modular and scalable.</p>

        <p>And the bigger and complex the better.</p>
        
        <p>But hey, since a few years ago, what a huge technological change we´ve experimented, right?
        The world has reinvented itself, all kind of screen sizes moving arround, and all connected by a cloud that has grown in capabilities, until a point that the art of UX has born and web development has become something with an infinite potential.
        And new frameworks that provide us to reach this potential.</p>
        
        <p>Since a few years ago I wanted to be able to stop having cool ideas, and start being able to execute them, to actually play in the league of the interconnected software in the world.
        I wanted to became a Full-Stack Web developer.
        And I am doing it, and loving it. I love Web development and right now I am enjoying like a kid doing it with MEAN.</p>
        
        <p>Why MEAN?, and only MEAN?. Well just saying that I love it, so I am a great asset at it.
        Remember, productivity arises with the ability to find what you freely decide to do and simply love to do.
        Of course my mind is open, and I don´t close any doors, everything changes, and I am and ready to listen and willing to open my mind to whatever is next.
        
        <p>But right now...</p>
        <ul>
            <li>I am amazed by the posibilities of <b>AngularJS 1.x</b> and admiring their decision to complete change for <b>AngularJS 2.0</b>, reinventing their selfs without fear of living behind so much concepts.</li>
            <li>Right now I am happy developing pure <b>REST APIs</b> with <b>Express</b>.</li>
            <li>I am please playing with my <b>Mongo</b> databases without caring about columns!.</li>
            <li>And although I do like OOP, I have to admit that it is kind of cool developing with <b>NodeJS </b> a back-end that works concurrenty and in the same programming language as my Front-end.</li>
    </div>
</div>